Applications/Bec.TargetFramework/MainLine/Service/Bec.TargetFramework.Service.LR.Entities/Service References/BankruptcySearch21/BankruptcySearchV2_0WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bankruptcyv2_1.ws.bg.lr.gov/" name="BankruptcySearchV2_0WebService" targetNamespace="http://bankruptcyv2_1.ws.bg.lr.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:ns3="http://bankruptcyv2_1.ws.bg.lr.gov/" xmlns:ns1="http://www.oscre.org/ns/eReg-Final/2011/RequestLandChargesBankruptcySearchV2_1" xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseLandChargesBankruptcySearchV2_0" targetNamespace="http://bankruptcyv2_1.ws.bg.lr.gov/">
      <xsd:import schemaLocation="RequestLandChargesBankruptcySearchV2_1.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/RequestLandChargesBankruptcySearchV2_1" />
      <xsd:import schemaLocation="ResponseLandChargesBankruptcySearchV2_0.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseLandChargesBankruptcySearchV2_0" />
      <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string" />
      <xsd:element name="bankruptcySearch" type="ns3:bankruptcySearch" />
      <xsd:element name="bankruptcySearchResponse" type="ns3:bankruptcySearchResponse" />
      <xsd:complexType name="bankruptcySearch">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="ns1:RequestLandChargesBankruptcySearchV2_1Type" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="bankruptcySearchResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns2:ResponseLandChargesBankruptcySearchV2_0Type" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="bankruptcySearch">
    <part name="parameters" element="tns:bankruptcySearch" />
  </message>
  <message name="SOAPEngineSystemException">
    <part name="fault" element="tns:SOAPEngineSystemException" />
  </message>
  <message name="bankruptcySearchResponse">
    <part name="parameters" element="tns:bankruptcySearchResponse" />
  </message>
  <portType name="BankruptcySearchV2_1Service">
    <operation name="bankruptcySearch">
      <input message="tns:bankruptcySearch" />
      <output message="tns:bankruptcySearchResponse" />
      <fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException" />
    </operation>
  </portType>
  <binding name="BankruptcySearchV2_1WSImplPortBinding" type="tns:BankruptcySearchV2_1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="bankruptcySearch">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPEngineSystemException">
        <soap:fault use="literal" name="SOAPEngineSystemException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="BankruptcySearchV2_1WebService">
    <port name="BankruptcySearchV2_1WSImplPort" binding="tns:BankruptcySearchV2_1WSImplPortBinding">
      <soap:address location="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/BankruptcySearchV2_1WebService" />
    </port>
  </service>
</definitions>