Applications/Bec.TargetFramework/MainLine/Service/Bec.TargetFramework.Service.LR.Entities/Service References/BankruptcySearch21/RequestLandChargesBankruptcySearchV2_1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.oscre.org/ns/eReg-Final/2011/RequestLandChargesBankruptcySearchV2_1" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.oscre.org/ns/eReg-Final/2011/RequestLandChargesBankruptcySearchV2_1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RequestLandChargesBankruptcySearchV2_1" type="RequestLandChargesBankruptcySearchV2_1Type" />
  <xs:complexType name="Q1AlternativePostalAddressType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="AddressLine" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Postcode" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1BankruptcySearchPartyType">
    <xs:annotation>
      <xs:documentation>A Company, an Individual or a Partnership.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ApplicantName" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1CommunicationType">
    <xs:annotation>
      <xs:documentation>Provides details of any other form of
				communication</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Telephone" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ContactType">
    <xs:annotation>
      <xs:documentation>The information relevant to a person or
				organization that acts as a point of contact with another person or
				organization.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Name" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>The name of this contact person or department.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Communication" type="Q1CommunicationType">
        <xs:annotation>
          <xs:documentation>The information relevant to methods of
						communication for this Contact.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1CustomerReferenceType">
    <xs:annotation>
      <xs:documentation>Provides a unique reference to identify a
				particular request, order or instruction or object in the system of
				the organisation allocating it.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Reference" type="ReferenceTextContentType">
        <xs:annotation>
          <xs:documentation>A unique reference given to identify a
						particular request, order or instruction in the system of the
						organisation allocating it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AllocatedBy" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>The name of the organisation that has
						allocated the Reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>This field can be used to provide reference
						description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ExpectedPriceType">
    <xs:annotation>
      <xs:documentation>Information about price
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GrossPriceAmount" type="AmountType">
        <xs:annotation>
          <xs:documentation>The gross price is the price including the
						VAT. If the VAT is zero then the Gross and Net Price will be the
						same</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NetPriceAmount" type="AmountType">
        <xs:annotation>
          <xs:documentation>The Net Price is the amount before the VAT is
						added on. If the VAT is zero then the Gross and Net Price will be
						the same</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="VATAmount" type="AmountType">
        <xs:annotation>
          <xs:documentation>This is the amount of the VAT
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1ExternalReferenceType">
    <xs:annotation>
      <xs:documentation>A unique reference given to identify a particular
				request, order or instruction in the system of the organisation
				allocating it with the ability to associate the name of the Company
				that has allocated it.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Reference" type="ReferenceTextContentType">
        <xs:annotation>
          <xs:documentation>A unique reference given to identify a
						particular request, order or instruction in the system of the
						organisation allocating it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AllocatedBy" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>The name of the organisation that has
						allocated the Reference</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>This field can be used to provide reference
						description</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1IdentifierType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="MessageID" type="Q1TextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1LandChargesBankruptcySearchType">
    <xs:annotation>
      <xs:documentation>Choice of Private Individual search or
				Complex Name search</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="BankruptcySearchPrivateIndividual" type="Q1BankruptcySearchPrivateIndividualType" />
        <xs:element minOccurs="1" maxOccurs="1" name="BankruptcySearchComplexName" type="Q1BankruptcySearchComplexNameType" />
      </xs:choice>
      <xs:element minOccurs="1" maxOccurs="1" default="false" name="ContinueIfActualFeeExceedsExpectedFeeIndicator" type="IndicatorType">
        <xs:annotation>
          <xs:documentation>A list of two mutually exclusive Boolean values
						that express the only possible states of a Property.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1BankruptcySearchPrivateIndividualType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" fixed="10" name="BankruptcySearchTypeCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="6" name="BankruptcySearchParty" type="Q1BankruptcySearchPrivateIndividualPartyType">
        <xs:annotation>
          <xs:documentation>names being searched for a) petitions in
						bankruptcy in the register of pending actions, b) receiving orders
						in bankruptcy and bankruptcy orders in the registers of writs and
						orders and c) deeds of arrangements in the register of deeds of
						arrangement</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1BankruptcySearchComplexNameType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" fixed="30" name="BankruptcySearchTypeCode" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="6" name="BankruptcySearchParty" type="Q1BankruptcySearchComplexNamePartyType">
        <xs:annotation>
          <xs:documentation>names being searched for a) petitions in
						bankruptcy in the register of pending actions, b) receiving orders
						in bankruptcy and bankruptcy orders in the registers of writs and
						orders and c) deeds of arrangements in the register of deeds of
						arrangement</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1BankruptcySearchPrivateIndividualPartyType">
    <xs:annotation>
      <xs:documentation>A Company, an Individual or a Partnership.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SurnameName" type="Q1SurnameTextType">
        <xs:annotation>
          <xs:documentation>The name of the Party - IS the Person being
						searched</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ForenamesName" type="Q1ForenamesTextType">
        <xs:annotation>
          <xs:documentation>Forenames (if the party is a person)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1BankruptcySearchComplexNamePartyType">
    <xs:annotation>
      <xs:documentation>A Company, an Individual or a Partnership.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ComplexName" type="ComplexNameTextType">
        <xs:annotation>
          <xs:documentation>Forenames (if the party is a person)
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComplexNameTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of
				characters) generally in the form of words of a language.
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ComplexNameTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Q1ForenamesTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of
				characters) generally in the form of words of a language.
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Q1ForenamesTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Q1SurnameTextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of
				characters) generally in the form of words of a language.
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Q1SurnameTextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Q1ProductType">
    <xs:annotation>
      <xs:documentation>This component contains details regarding the
				search being ordered, expedited service, price details, delivery
				method and any attachment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ExternalReference" type="Q1ExternalReferenceType">
        <xs:annotation>
          <xs:documentation>Reference associated with a case in Case
						Management System</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="CustomerReference" type="Q1CustomerReferenceType">
        <xs:annotation>
          <xs:documentation>Reference of the person for whom the
						remortgage is performed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExpectedPrice" type="Q1ExpectedPriceType">
        <xs:annotation>
          <xs:documentation>Information about price
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="Contact" type="Q1ContactType">
        <xs:annotation>
          <xs:documentation>The information relevant to a person or
						organization that acts as a point of contact with another person
						or organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="LandChargesBankruptcySearch" type="Q1LandChargesBankruptcySearchType">
        <xs:annotation>
          <xs:documentation>An application for a Land Charges Bankruptcy
						Search against Private Individuals and Complex Names. In respect
						of Private Individuals the [Business Gateway] will return
						certificate of search result electronically or by post. In respect
						of Complex Names Business Gateway will delivery official
						certificate of the result by post.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AlternativeDespatchDetails" type="Q1AlternativeDespatchDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1AlternativeDespatchAddressType">
    <xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="PostalAddress" type="Q1AlternativePostalAddressType">
        <xs:annotation>
          <xs:documentation>
						A specific Address that can be used for the
						delivery of physical mail.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DXDetails" type="Q1DXDetailsType" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Q1AlternativeDespatchDetailsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AlternativeDespatchName" type="DespatchNameTextContentType">
        <xs:annotation>
          <xs:documentation>
						Name of firm/company results will be addressed to.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AlternativeDespatchReference" type="Q4TextContentType">
        <xs:annotation>
          <xs:documentation>
						Text reference to be displayed on results.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AlternativeDespatchAddress" type="Q1AlternativeDespatchAddressType">
        <xs:annotation>
          <xs:documentation>
						The type of address to be used on results.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Q1DXDetailsType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="DXNumber" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>A unique identifier for a delivery point for
						organisations using the Document Exchange service.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="ExchangeName" type="Q3TextType">
        <xs:annotation>
          <xs:documentation>A character string (i.e. a finite set of
						characters) generally in the form of words of a language.
					</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestLandChargesBankruptcySearchV2_1Type">
    <xs:annotation>
      <xs:documentation>This document provides the ability for the
				[External System] to make an application for a Land Charges
				Bankruptcy Search against Private Individuals and Complex Names. In
				respect of Private Individuals the [Business Gateway] will return
				certificate of search result electronically. Land Registry System
				will deliver the certificate of search result if it has to be
				provided by post. In respect of Complex Names Land Registry System
				will deliver official certificate of the result by post.
			</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="Q1IdentifierType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Product" type="Q1ProductType">
        <xs:annotation>
          <xs:documentation>This component contains details regarding the
						search being ordered, expedited service, price details, delivery
						method and any attachment</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountType">
    <xs:annotation>
      <xs:documentation>A number of monetary units specified in a currency
				where the unit of the currency is explicit or implied.
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currencyID" type="xs:normalizedString" use="optional">
          <xs:annotation>
            <xs:documentation>The currency of the amount</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BankruptcySearchCodeType">
    <xs:annotation>
      <xs:documentation>A character string (letters, figures or symbols)
				that for brevity and/or language independence may be used to
				represent or replace a definitive value or text of an Attribute
				together with relevant supplementary information.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="BankruptcySearchCodeContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="IndicatorType">
    <xs:annotation>
      <xs:documentation>A list of two mutually exclusive Boolean values
				that express the only possible states of a Property.
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:boolean" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Q1TextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of
				characters) generally in the form of words of a language.
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Q1TextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Q3TextType">
    <xs:annotation>
      <xs:documentation>A character string (i.e. a finite set of
				characters) generally in the form of words of a language.
			</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="Q3TextContentType" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="BankruptcySearchCodeContentType">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="0">
        <xs:annotation>
          <xs:documentation>Other</xs:documentation>
          <xs:documentation>-</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>Private Individual</xs:documentation>
          <xs:documentation>-</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="20">
        <xs:annotation>
          <xs:documentation>Limited &amp; PLC</xs:documentation>
          <xs:documentation>-</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="30">
        <xs:annotation>
          <xs:documentation>Complex Names</xs:documentation>
          <xs:documentation>-</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:documentation>Local Authorities</xs:documentation>
          <xs:documentation>-</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Q1TextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="5" />
      <xs:maxLength value="50" />
      <xs:pattern value="[a-zA-Z0-9][a-zA-Z0-9\-]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComplexNameTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="90" />
      <xs:pattern value=".*\S.*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Q1ForenamesTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="90" />
      <xs:pattern value="([A-Za-z\-'])([A-Za-z\- '])*([A-Za-z\-'])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Q1SurnameTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="89" />
      <xs:pattern value="([A-Za-z\-'])([A-Za-z\- '])*([A-Za-z\-'])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ReferenceTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
      <xs:pattern value="[A-Za-z0-9\s~!&quot;@#$%'\(\)\*\+,\-\./:;=&gt;\?\[\\\]_\{\}\^£&amp;]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Q3TextContentType">
    <xs:restriction base="xs:string">
      <xs:pattern value=".*\S.*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DespatchNameTextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
      <xs:pattern value="[A-Za-z0-9\s~!&quot;@#$%'\(\)\*\+,\-\./:;=&gt;\?\[\\\]_\{\}\^£&amp;]*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Q4TextContentType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
      <xs:pattern value="[A-Za-z0-9\s~!&quot;@#$%'\(\)\*\+,\-\./:;=&gt;\?\[\\\]_\{\}\^£&amp;]*" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>