Applications/Bec.TargetFramework/MainLine/Service/Bec.TargetFramework.Service.LR.Entities/Service References/OfficialSearchOfPartWithPriority21/OfficialSearchOfPartV2_1WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://officialsearchofpartv2_1.ws.bg.lr.gov/" name="OfficialSearchOfPartV2_1WebService" targetNamespace="http://officialsearchofpartv2_1.ws.bg.lr.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:ns3="http://officialsearchofpartv2_1.ws.bg.lr.gov/" xmlns:ns1="http://www.oscre.org/ns/eReg-Final/2011/RequestOfficialSearchOfPartWithPriorityV2_1" xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseOfficialSearchOfPartWithPriorityV2_0" targetNamespace="http://officialsearchofpartv2_1.ws.bg.lr.gov/">
      <xsd:import schemaLocation="RequestOfficialSearchOfPartWithPriorityV2_1.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/RequestOfficialSearchOfPartWithPriorityV2_1" />
      <xsd:import schemaLocation="ResponseOfficialSearchOfPartWithPriorityV2_0.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseOfficialSearchOfPartWithPriorityV2_0" />
      <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string" />
      <xsd:element name="processOS2Request" type="ns3:processOS2Request" />
      <xsd:element name="processOS2RequestResponse" type="ns3:processOS2RequestResponse" />
      <xsd:complexType name="processOS2Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="ns1:RequestOfficialSearchOfPartWithPriorityV2_1Type" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="processOS2RequestResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns2:OfficialSearchOfPartWithPriorityResponseV2_0Type" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="SOAPEngineSystemException">
    <part name="fault" element="tns:SOAPEngineSystemException" />
  </message>
  <message name="officialsearchResponse">
    <part name="parameters" element="tns:processOS2RequestResponse" />
  </message>
  <message name="officialsearchRequest">
    <part name="parameters" element="tns:processOS2Request" />
  </message>
  <portType name="OfficialSearchOfPartV2_1Service">
    <operation name="processOS2Request">
      <input message="tns:officialsearchRequest" />
      <output message="tns:officialsearchResponse" />
      <fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException" />
    </operation>
  </portType>
  <binding name="OfficialSearchOfPartV2_1WSImplPortBinding" type="tns:OfficialSearchOfPartV2_1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="processOS2Request">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPEngineSystemException">
        <soap:fault use="literal" name="SOAPEngineSystemException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="OfficialSearchOfPartV2_1WebService">
    <port name="OfficialSearchOfPartV2_1WSImplPort" binding="tns:OfficialSearchOfPartV2_1WSImplPortBinding">
      <soap:address location="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/OfficialSearchOfPartV2_1WebService" />
    </port>
  </service>
</definitions>