Applications/Bec.TargetFramework/MainLine/Business/Bec.TargetFramework.Business/Web References/FirstData/v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cab="http://api.clickandbuy.com/webservices/pay_1_0_0/" xmlns:v1="http://ipg-online.com/ipgapi/schemas/v1" elementFormDefault="qualified" targetNamespace="http://ipg-online.com/ipgapi/schemas/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../schemas/ClickAndBuy/PayTypes_1_0_0.xsd" namespace="http://api.clickandbuy.com/webservices/pay_1_0_0/" />
  <xs:element name="Transaction" type="v1:Transaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:element name="CreditCardTxType" type="v1:CreditCardTxType" />
          <xs:choice>
            <xs:sequence>
              <xs:element minOccurs="0" name="CreditCardData" type="v1:CreditCardData" />
              <xs:element minOccurs="0" ref="v1:CreditCard3DSecure" />
            </xs:sequence>
            <xs:element ref="v1:EMVCardPresentRequest" />
          </xs:choice>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="CustomerCardTxType" type="v1:CustomerCardTxType" />
          <xs:element minOccurs="0" name="CustomerCardData" type="v1:CustomerCardData" />
        </xs:sequence>
        <xs:sequence>
          <xs:element name="DE_DirectDebitTxType" type="v1:DE_DirectDebitTxType" />
          <xs:element minOccurs="0" name="DE_DirectDebitData" type="v1:DE_DirectDebitData" />
        </xs:sequence>
        <xs:sequence>
          <xs:element name="UK_DebitCardTxType" type="v1:UK_DebitCardTxType" />
          <xs:element minOccurs="0" name="UK_DebitCardData" type="v1:UK_DebitCardData" />
        </xs:sequence>
        <xs:sequence>
          <xs:element name="ClickandBuyTxType" type="v1:ClickandBuyTxType" />
          <xs:element minOccurs="0" name="ClickandBuyData" type="v1:ClickandBuyData" />
        </xs:sequence>
        <xs:sequence>
          <xs:element name="PayPalTxType" type="v1:PayPalTxType" />
        </xs:sequence>
        <xs:sequence>
          <xs:element name="TopUpTxType" type="v1:TopUpTxType" />
        </xs:sequence>
      </xs:choice>
      <xs:element minOccurs="0" ref="v1:Payment" />
      <xs:element minOccurs="0" name="TransactionDetails" type="v1:TransactionDetails" />
      <xs:element minOccurs="0" ref="v1:Billing" />
      <xs:element minOccurs="0" ref="v1:Shipping" />
      <xs:element minOccurs="0" ref="v1:ClientLocale" />
      <xs:element minOccurs="0" ref="v1:Basket" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TopUpTxType">
    <xs:complexContent mixed="false">
      <xs:extension base="v1:Options">
        <xs:choice>
          <xs:element name="MPCharge">
            <xs:complexType>
              <xs:all>
                <xs:element ref="v1:MNSP" />
                <xs:element minOccurs="0" name="MSISDN">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:pattern value="[0-9]{5,15}" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element ref="v1:PaymentType" />
              </xs:all>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CreditCardTxType">
    <xs:complexContent mixed="false">
      <xs:extension base="v1:Options">
        <xs:sequence>
          <xs:element name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="credit" />
                <xs:enumeration value="forceTicket" />
                <xs:enumeration value="postAuth" />
                <xs:enumeration value="preAuth" />
                <xs:enumeration value="return" />
                <xs:enumeration value="sale" />
                <xs:enumeration value="void" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CustomerCardTxType">
    <xs:complexContent mixed="false">
      <xs:extension base="v1:Options">
        <xs:sequence>
          <xs:element name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="forceTicket" />
                <xs:enumeration value="BWListCheck" />
                <xs:enumeration value="sale" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DE_DirectDebitTxType">
    <xs:complexContent mixed="false">
      <xs:extension base="v1:Options">
        <xs:sequence>
          <xs:element name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="credit" />
                <xs:enumeration value="return" />
                <xs:enumeration value="sale" />
                <xs:enumeration value="void" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UK_DebitCardTxType">
    <xs:complexContent mixed="false">
      <xs:extension base="v1:Options">
        <xs:sequence>
          <xs:element name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="credit" />
                <xs:enumeration value="return" />
                <xs:enumeration value="sale" />
                <xs:enumeration value="void" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClickandBuyTxType">
    <xs:complexContent mixed="false">
      <xs:extension base="v1:Options">
        <xs:sequence>
          <xs:element name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="credit" />
                <xs:enumeration value="postAuth" />
                <xs:enumeration value="return" />
                <xs:enumeration value="void" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PayPalTxType">
    <xs:complexContent mixed="false">
      <xs:extension base="v1:Options">
        <xs:sequence>
          <xs:element name="Type">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="credit" />
                <xs:enumeration value="postAuth" />
                <xs:enumeration value="return" />
                <xs:enumeration value="void" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Options">
    <xs:sequence>
      <xs:element minOccurs="0" name="StoreId" type="v1:String20max" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditCardData">
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:group minOccurs="0" ref="v1:Card" />
          <xs:element minOccurs="0" name="CardCodeValue" type="v1:CardCodeValue" />
        </xs:sequence>
        <xs:element name="TrackData" type="v1:TrackData" />
      </xs:choice>
      <xs:element minOccurs="0" name="Brand">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AMEX" />
            <xs:enumeration value="DINERS/DISCOVER" />
            <xs:enumeration value="JCB" />
            <xs:enumeration value="LASER" />
            <xs:enumeration value="MAESTRO" />
            <xs:enumeration value="MASTERCARD" />
            <xs:enumeration value="VISA" />
            <xs:enumeration value="UNIONPAY" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerCardData">
    <xs:sequence>
      <xs:choice>
        <xs:group ref="v1:Card" />
        <xs:element name="TrackData" type="v1:TrackData" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DE_DirectDebitData">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:sequence>
          <xs:element minOccurs="0" name="BIC">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="[A-Z]{4}DE([A-Z0-9][A-NP-Z0-9])(XXX|[A-WY-Z0-9][A-Z0-9]{2})?" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="IBAN">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="DE[0-9]{2}[0-9]{8}[0-9]{10}" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:element name="TrackData" type="v1:TrackData" />
        <xs:sequence>
          <xs:element name="BankCode">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="([0-9]{8})|([A-Z]{4}DE([A-Z0-9][A-NP-Z0-9])(XXX|[A-WY-Z0-9][A-Z0-9]{2})?)" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="AccountNumber">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:pattern value="([0-9]{1,10})|(DE[0-9]{2}[0-9]{8}[0-9]{10})" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:choice>
      <xs:element minOccurs="0" ref="v1:MandateReference" />
      <xs:element minOccurs="0" ref="v1:MandateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MandateReference">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Za-z0-9+?/\\:().,'-]{1,35}" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element default="SINGLE" name="MandateType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="SINGLE" />
        <xs:enumeration value="RECURRING_COLLECTION" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="UK_DebitCardData">
    <xs:sequence>
      <xs:group ref="v1:Card" />
      <xs:choice>
        <xs:element name="CardCodeValue" type="v1:CardCodeValue" />
        <xs:element name="IssueNo">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[0-9]{0,4}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClickandBuyData">
    <xs:sequence>
      <xs:element minOccurs="0" name="orderDetails" type="cab:OrderDetails">
        <xs:annotation>
          <xs:documentation>details of the payment</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="Card">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{13,19}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ExpMonth">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9])|(1[0-2])" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ExpYear">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="CardCodeValue">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3,4}|" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrackData">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9;.%=^?/ \\-]{1,261}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MNSP">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="D1" />
        <xs:enumeration value="D2" />
        <xs:enumeration value="EP" />
        <xs:enumeration value="VI" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PaymentType">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Amex" />
        <xs:enumeration value="Cash" />
        <xs:enumeration value="Diners" />
        <xs:enumeration value="ECMC" />
        <xs:enumeration value="JCB" />
        <xs:enumeration value="VISA" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EMVCardPresentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="v1:CryptData" />
        <xs:choice>
          <xs:element ref="v1:EMVRequestData" />
          <xs:element ref="v1:TLVData" />
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CryptData">
    <xs:complexType>
      <xs:all>
        <xs:element name="SRED">
          <xs:complexType>
            <xs:all>
              <xs:element name="Value">
                <xs:simpleType>
                  <xs:restriction base="xs:hexBinary" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="KSN">
                <xs:simpleType>
                  <xs:restriction base="xs:hexBinary">
                    <xs:length value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="PINBlock">
          <xs:complexType>
            <xs:all>
              <xs:element name="Value">
                <xs:simpleType>
                  <xs:restriction base="xs:hexBinary" />
                </xs:simpleType>
              </xs:element>
              <xs:element name="KSN">
                <xs:simpleType>
                  <xs:restriction base="xs:hexBinary">
                    <xs:length value="10" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="EMVRequestData">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" name="AmountAuthorised-9F02">
          <xs:simpleType>
            <xs:restriction base="xs:long">
              <xs:pattern value="[0-9]{1,12}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AmountOther-9F03">
          <xs:simpleType>
            <xs:restriction base="xs:long">
              <xs:pattern value="[0-9]{1,12}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ApplicationCryptogram-9F26">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ApplicationIdentifier-4F">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:minLength value="5" />
              <xs:maxLength value="16" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ApplicationIdentifierTerminal-9F06">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:minLength value="5" />
              <xs:maxLength value="16" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ApplicationInterchangeProfile-82">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ApplicationPANSequenceNumber-5F34">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ApplicationTransactionCounter-9F36">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="ApplicationVersionNumber-9F09">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="CryptogramInformationData-9F27">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="CVMResults-9F34">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="DedicatedFileName-84">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:minLength value="5" />
              <xs:maxLength value="16" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="InterfaceDeviceSerialNumber-9F1E">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="IssuerApplicationData-9F10">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="IssuerAuthenticationData-91">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:minLength value="8" />
              <xs:maxLength value="16" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PointOfServiceEntryMode-9F39">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TerminalApplicationVersionNumber-9F09">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TerminalCapabilities-9F33">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TerminalCountry-9F1A">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="999" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TerminalType-9F35">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TerminalVerificationResults-95">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TransactionCertificateHashValue-98">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="20" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TransactionDate-9A">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:pattern value="[1-9][0-9][0-1][0-9][0-3][0-9]" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TransactionSequenceCounter-9F41">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:pattern value="[0-9]{4,8}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TransactionStatusInformation-9B">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="TransactionType-9C">
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="UnpredictableNumber-9F37">
          <xs:simpleType>
            <xs:restriction base="xs:hexBinary">
              <xs:length value="4" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="TLVData">
    <xs:simpleType>
      <xs:restriction base="xs:hexBinary">
        <xs:maxLength value="1024" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="CreditCard3DSecure">
    <xs:complexType>
      <xs:all>
        <xs:element name="VerificationResponse">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="N" />
              <xs:enumeration value="U" />
              <xs:enumeration value="Y" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="PayerAuthenticationResponse">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="A" />
              <xs:enumeration value="N" />
              <xs:enumeration value="U" />
              <xs:enumeration value="Y" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="AuthenticationValue">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="20" />
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="XID">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="20" />
              <xs:maxLength value="32" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HostedDataID" type="v1:String128max" />
        <xs:element minOccurs="0" name="HostedDataStoreID" type="v1:String20max" />
        <xs:element minOccurs="0" default="false" name="DeclineHostedDataDuplicates" type="xs:boolean" />
        <xs:group minOccurs="0" ref="v1:Amount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="Amount">
    <xs:sequence>
      <xs:sequence minOccurs="0">
        <xs:element name="SubTotal" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="ValueAddedTax" type="v1:AmountValueType" />
        <xs:element minOccurs="0" name="DeliveryAmount" type="v1:AmountValueType" />
      </xs:sequence>
      <xs:element name="ChargeTotal" type="v1:AmountValueType" />
      <xs:element name="Currency" type="v1:CurrencyType" />
    </xs:sequence>
  </xs:group>
  <xs:complexType name="TransactionDetails">
    <xs:all>
      <xs:element minOccurs="0" name="Comments" type="v1:String1024max" />
      <xs:element minOccurs="0" name="InvoiceNumber" type="v1:String48max" />
      <xs:element minOccurs="0" name="DynamicMerchantName" type="v1:String100max" />
      <xs:element minOccurs="0" name="PONumber" type="v1:String128max" />
      <xs:element minOccurs="0" name="OrderId" type="v1:String100max" />
      <xs:element minOccurs="0" name="Ip">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="((25[0-5]|(2[0-4]|1[0-9]|[1-9])?[0-9])\.){3}(25[0-5]|(2[0-4]|1[0-9]|[1-9])?[0-9])|" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ReferenceNumber">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(NEW)?[0-9a-zA-Z]{1,8}" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="TDate">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{10}|" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" ref="v1:TransactionOrigin" />
      <xs:element minOccurs="0" ref="v1:Terminal" />
      <xs:element minOccurs="0" name="InquiryRateReference" type="v1:InquiryRateReference" />
    </xs:all>
  </xs:complexType>
  <xs:element name="Basket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductStock">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="check" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element maxOccurs="100" name="Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ID" type="v1:String128max" />
              <xs:element name="Description" type="v1:String128max" />
              <xs:group ref="v1:Amount" />
              <xs:element name="Quantity" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="100" name="Option">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Name" type="v1:String128max" />
                    <xs:element name="Choice" type="v1:String128max" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminal">
    <xs:complexType>
      <xs:all>
        <xs:element name="TerminalID">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[0-9]{8}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element default="ECI" name="TransactionOrigin">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="ECI" />
        <xs:enumeration value="MOTO" />
        <xs:enumeration value="RETAIL" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Billing">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" name="CustomerID" type="v1:String32max" />
        <xs:element minOccurs="0" name="Name" type="v1:String96max" />
        <xs:element minOccurs="0" name="Company" type="v1:String96max" />
        <xs:element minOccurs="0" name="Address1" type="v1:String96max" />
        <xs:element minOccurs="0" name="Address2" type="v1:String96max" />
        <xs:element minOccurs="0" name="City" type="v1:String96max" />
        <xs:element minOccurs="0" name="State" type="v1:String96max" />
        <xs:element minOccurs="0" name="Zip" type="v1:String24max" />
        <xs:element minOccurs="0" name="Country" type="v1:String32max" />
        <xs:element minOccurs="0" name="Phone" type="v1:String32max" />
        <xs:element minOccurs="0" name="Fax" type="v1:String32max" />
        <xs:element minOccurs="0" name="Email" type="v1:String64max" />
        <xs:element minOccurs="0" name="Addrnum" type="v1:String96max" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shipping">
    <xs:complexType>
      <xs:all>
        <xs:element minOccurs="0" name="Type" type="v1:String20max" />
        <xs:element minOccurs="0" name="Name" type="v1:String96max" />
        <xs:element minOccurs="0" name="Address1" type="v1:String96max" />
        <xs:element minOccurs="0" name="Address2" type="v1:String96max" />
        <xs:element minOccurs="0" name="City" type="v1:String96max" />
        <xs:element minOccurs="0" name="State" type="v1:String96max" />
        <xs:element minOccurs="0" name="Zip" type="v1:String24max" />
        <xs:element minOccurs="0" name="Country" type="v1:String32max" />
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLocale">
    <xs:complexType>
      <xs:all>
        <xs:element name="Language">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[a-z]{2}" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="Country">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[A-Z]{2}|" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="InquiryRateId" type="xs:long" />
  <xs:complexType name="InquiryRateReference">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="v1:InquiryRateId" />
      <xs:element minOccurs="0" maxOccurs="1" name="DccApplied" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="String4000max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="4000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String1024max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String128max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String100max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String96max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="96" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String64max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String50max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String48max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="48" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String32max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String30max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String24max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String20max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String10max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String6max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String3max">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{3}|[A-Z]{3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AmountValueType">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="3" />
      <xs:totalDigits value="12" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BINType">
    <xs:restriction base="xs:int">
      <xs:totalDigits value="6" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>