Applications/Bec.TargetFramework/MainLine/Service/Bec.TargetFramework.Service.LR.Entities/Service References/OfficialSearchWholeWithPriority21/OfficialSearchWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://officialsearchv2_1.ws.bg.lr.gov/" name="OfficialSearchWebService" targetNamespace="http://officialsearchv2_1.ws.bg.lr.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:ns3="http://officialsearchv2_1.ws.bg.lr.gov/" xmlns:ns1="http://www.oscre.org/ns/eReg-Final/2011/RequestOfficialSearchOfWholeWithPriorityV2_1" xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseOfficialSearchOfWholeWithPriorityV2_0" targetNamespace="http://officialsearchv2_1.ws.bg.lr.gov/">
      <xsd:import schemaLocation="RequestOfficialSearchOfWholeWithPriorityV2_1.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/RequestOfficialSearchOfWholeWithPriorityV2_1" />
      <xsd:import schemaLocation="ResponseOfficialSearchOfWholeWithPriorityV2_0.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseOfficialSearchOfWholeWithPriorityV2_0" />
      <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string" />
      <xsd:element name="processOS1Request" type="ns3:processOS1Request" />
      <xsd:element name="processOS1RequestResponse" type="ns3:processOS1RequestResponse" />
      <xsd:complexType name="processOS1Request">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="ns1:RequestOfficialSearchOfWholeWithPriorityV2_1Type" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="processOS1RequestResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns2:ResponseOfficialSearchOfWholeWithPriorityV2_0Type" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="officialsearchResponse">
    <part name="parameters" element="tns:processOS1RequestResponse" />
  </message>
  <message name="SOAPEngineSystemException">
    <part name="fault" element="tns:SOAPEngineSystemException" />
  </message>
  <message name="officialsearchRequest">
    <part name="parameters" element="tns:processOS1Request" />
  </message>
  <portType name="OfficialSearchV2_1Service">
    <operation name="processOS1Request">
      <input message="tns:officialsearchRequest" />
      <output message="tns:officialsearchResponse" />
      <fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException" />
    </operation>
  </portType>
  <binding name="OfficialSearchV2_1WSImplPortBinding" type="tns:OfficialSearchV2_1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="processOS1Request">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPEngineSystemException">
        <soap:fault use="literal" name="SOAPEngineSystemException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="OfficialSearchV2_1WebService">
    <port name="OfficialSearchV2_1WSImplPort" binding="tns:OfficialSearchV2_1WSImplPortBinding">
      <soap:address location="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/OfficialSearchV2_1WebService" />
    </port>
  </service>
</definitions>