Applications/Bec.TargetFramework/MainLine/Service/Bec.TargetFramework.Service.LR.Entities/Service References/ChargesFullSearch21/FullSearchV2_1WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fullsearchv2_1.ws.bg.lr.gov/" name="FullSearchV2_1WebService" targetNamespace="http://fullsearchv2_1.ws.bg.lr.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:ns3="http://fullsearchv2_1.ws.bg.lr.gov/" xmlns:ns1="http://www.oscre.org/ns/eReg-Final/2011/RequestLandChargesFullSearchV2_1" xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseLandChargesFullSearchV2_0" targetNamespace="http://fullsearchv2_1.ws.bg.lr.gov/">
      <xsd:import schemaLocation="RequestLandChargesFullSearchV2_1.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/RequestLandChargesFullSearchV2_1" />
      <xsd:import schemaLocation="ResponseLandChargesFullSearchV2_0.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseLandChargesFullSearchV2_0" />
      <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string" />
      <xsd:element name="fullSearch" type="ns3:fullSearch" />
      <xsd:element name="fullSearchResponse" type="ns3:fullSearchResponse" />
      <xsd:complexType name="fullSearch">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="ns1:RequestLandChargesFullSearchV2_1Type" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="fullSearchResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns2:LandChargesFullSearchResponseV2_0Type" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="fullSearchResponse">
    <part name="parameters" element="tns:fullSearchResponse" />
  </message>
  <message name="SOAPEngineSystemException">
    <part name="fault" element="tns:SOAPEngineSystemException" />
  </message>
  <message name="fullSearch">
    <part name="parameters" element="tns:fullSearch" />
  </message>
  <portType name="FullSearchV2_1Service">
    <operation name="fullSearch">
      <input message="tns:fullSearch" />
      <output message="tns:fullSearchResponse" />
      <fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException" />
    </operation>
  </portType>
  <binding name="FullSearchV2_1WSImplPortBinding" type="tns:FullSearchV2_1Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="fullSearch">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPEngineSystemException">
        <soap:fault use="literal" name="SOAPEngineSystemException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="FullSearchV2_1WebService">
    <port name="FullSearchV2_1WSImplPort" binding="tns:FullSearchV2_1WSImplPortBinding">
      <soap:address location="https://z0.b2b.http.server.landregistry.gov:13007/BGStubService/FullSearchV2_1WebService" />
    </port>
  </service>
</definitions>