Applications/Bec.TargetFramework/MainLine/Service/Bec.TargetFramework.Service.LR.Entities/Service References/OfficialCopyTitleKnownPoll21/OC1TitleKnownV2_0PollRequestWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://poll.officialcopyv2_1.ws.bg.lr.gov/" name="OC1TitleKnownV2_0PollRequestWebService" targetNamespace="http://poll.officialcopyv2_1.ws.bg.lr.gov/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:ns3="http://poll.officialcopyv2_1.ws.bg.lr.gov/" xmlns:ns1="http://www.oscre.org/ns/eReg/MR01-20090605/PollRequest" xmlns:ns2="http://www.oscre.org/ns/eReg-Final/2011/ResponseTitleKnownOfficialCopyV2_0" targetNamespace="http://poll.officialcopyv2_1.ws.bg.lr.gov/">
      <xsd:import schemaLocation="PollRequest.xsd" namespace="http://www.oscre.org/ns/eReg/MR01-20090605/PollRequest" />
      <xsd:import schemaLocation="ResponseTitleKnownOfficialCopyV2_0.xsd" namespace="http://www.oscre.org/ns/eReg-Final/2011/ResponseTitleKnownOfficialCopyV2_0" />
      <xsd:element name="SOAPEngineSystemException" nillable="true" type="xsd:string" />
      <xsd:element name="getResponse" type="ns3:getResponse" />
      <xsd:element name="getResponseResponse" type="ns3:getResponseResponse" />
      <xsd:complexType name="getResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="arg0" type="ns1:PollRequestType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getResponseResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="return" type="ns2:ResponseTitleKnownOfficialCopyV2_0Type" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="oC1TitleKnownPollResponse">
    <part name="parameters" element="tns:getResponseResponse" />
  </message>
  <message name="oC1TitleKnownPollRequest">
    <part name="parameters" element="tns:getResponse" />
  </message>
  <message name="SOAPEngineSystemException">
    <part name="fault" element="tns:SOAPEngineSystemException" />
  </message>
  <portType name="OC1TitleKnownV2_1PollService">
    <operation name="getResponse">
      <input message="tns:oC1TitleKnownPollRequest" />
      <output message="tns:oC1TitleKnownPollResponse" />
      <fault name="SOAPEngineSystemException" message="tns:SOAPEngineSystemException" />
    </operation>
  </portType>
  <binding name="OC1TitleKnownV2_1PollRequestWSImplPortBinding" type="tns:OC1TitleKnownV2_1PollService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getResponse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPEngineSystemException">
        <soap:fault use="literal" name="SOAPEngineSystemException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="OC1TitleKnownV2_1PollRequestWebService">
    <port name="OC1TitleKnownV2_1PollRequestWSImplPort" binding="tns:OC1TitleKnownV2_1PollRequestWSImplPortBinding">
      <soap:address location="https://z0.b2b.http.server.landregistry.gov:13007/ECBG_StubService/OC1TitleKnownV2_1PollRequestWebService" />
    </port>
  </service>
</definitions>