Applications/Bec.TargetFramework/MainLine/Business/Bec.TargetFramework.Business/Web References/BWAService/BankWizardService-v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:v1_1="http://experianpayments.com/bankwizard/wsdl/BankWizardService-v1-1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://experianpayments.com/bankwizard/wsdl/BankWizardService-v1" xmlns:v1_0="http://experianpayments.com/bankwizard/wsdl/BankWizardService-v1-0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="BankWizardService-v1.wsdl" targetNamespace="http://experianpayments.com/bankwizard/wsdl/BankWizardService-v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Bank Wizard service interface.

      @Author : Amarjit Basra
      @Date   : 30 September 2009
      @Version: Major 1 Minor 0

      Copyright (c) Experian Limited 1997-2011. All Rights Reserved.
    </xsd:documentation>
  </xsd:annotation>
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bankwizard="http://experianpayments.com/bankwizard/xsd/2009/07" targetNamespace="http://experianpayments.com/bankwizard/wsdl/BankWizardService-v1-0">
      <xsd:import schemaLocation="xsd/BankWizardService-v1-0.xsd" namespace="http://experianpayments.com/bankwizard/xsd/2009/07" />
      <xsd:element name="GetCountriesRequest" type="bankwizard:GetCountriesRequest" />
      <xsd:element name="GetCountriesResponse" type="bankwizard:GetCountriesResponse" />
      <xsd:element name="GetCountryInputRequest" type="bankwizard:GetCountryInputRequest" />
      <xsd:element name="GetCountryInputResponse" type="bankwizard:GetCountryInputResponse" />
      <xsd:element name="GetBranchDataRequest" type="bankwizard:GetBranchDataRequest" />
      <xsd:element name="GetBranchDataResponse" type="bankwizard:GetBranchDataResponse" />
      <xsd:element name="GetSWIFTDataRequest" type="bankwizard:GetSWIFTDataRequest" />
      <xsd:element name="GetSWIFTDataResponse" type="bankwizard:GetSWIFTDataResponse" />
      <xsd:element name="GetSEPADataRequest" type="bankwizard:GetSEPADataRequest" />
      <xsd:element name="GetSEPADataResponse" type="bankwizard:GetSEPADataResponse" />
      <xsd:element name="GetFasterPaymentsDataRequest" type="bankwizard:GetFasterPaymentsDataRequest" />
      <xsd:element name="GetFasterPaymentsDataResponse" type="bankwizard:GetFasterPaymentsDataResponse" />
      <xsd:element name="GetAdditionalDataRequest" type="bankwizard:GetAdditionalDataRequest" />
      <xsd:element name="GetAdditionalDataResponse" type="bankwizard:GetAdditionalDataResponse" />
      <xsd:element name="ValidateIBANRequest" type="bankwizard:ValidateIBANRequest" />
      <xsd:element name="ValidateIBANResponse" type="bankwizard:ValidateIBANResponse" />
      <xsd:element name="ValidateRequest" type="bankwizard:ValidateRequest" />
      <xsd:element name="ValidateResponse" type="bankwizard:ValidateResponse" />
      <xsd:element name="VerifyRequest" type="bankwizard:VerifyRequest" />
      <xsd:element name="VerifyResponse" type="bankwizard:VerifyResponse" />
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bankwizard_1_1="http://experianpayments.com/bankwizard/xsd/2011/04" xmlns:bankwizard="http://experianpayments.com/bankwizard/xsd/2009/07" targetNamespace="http://experianpayments.com/bankwizard/wsdl/BankWizardService-v1-1">
      <xsd:import schemaLocation="xsd/BankWizardService-v1-0.xsd" namespace="http://experianpayments.com/bankwizard/xsd/2009/07" />
      <xsd:import schemaLocation="xsd/BankWizardService-v1-1.xsd" namespace="http://experianpayments.com/bankwizard/xsd/2011/04" />
      <xsd:element name="DataAccessKey" type="bankwizard:DataAccessKeyType" />
      <xsd:element name="AccountInformation" type="bankwizard_1_1:AccountInformation" />
      <xsd:element name="BranchSearchRequest" type="bankwizard_1_1:BranchSearch" />
      <xsd:element name="BranchSearchResponse" type="bankwizard_1_1:BranchSearchResults" />
      <xsd:element name="SwiftSearchRequest" type="bankwizard_1_1:SwiftSearch" />
      <xsd:element name="SwiftSearchResponse" type="bankwizard_1_1:SwiftSearchResults" />
      <xsd:element name="GetInputWithSearchRequest" type="bankwizard_1_1:GetInputWithSearchRequest" />
      <xsd:element name="GetInputWithSearchResponse" type="bankwizard_1_1:GetInputWithSearchResponse" />
      <xsd:element name="GetLookupIbanInputRequest" type="bankwizard_1_1:GetLookupIbanInputRequest" />
      <xsd:element name="GetLookupIbanInputResponse" type="bankwizard_1_1:GetLookupIbanInputResponse" />
      <xsd:element name="LookupIbanRequest" type="bankwizard_1_1:LookupIbanRequest" />
      <xsd:element name="LookupIbanResponse" type="bankwizard_1_1:LookupIbanResponse" />
      <xsd:element name="GlobalSearchRequest" type="bankwizard_1_1:GlobalSearchRequest" />
      <xsd:element name="GlobalSearchResponse" type="bankwizard_1_1:GlobalSearchResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetCountriesRequest">
    <wsdl:part name="GetCountriesRequest" element="v1_0:GetCountriesRequest" />
  </wsdl:message>
  <wsdl:message name="GetCountriesResponse">
    <wsdl:part name="GetCountriesResponse" element="v1_0:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryInputRequest">
    <wsdl:part name="GetCountryInputRequest" element="v1_0:GetCountryInputRequest" />
  </wsdl:message>
  <wsdl:message name="GetCountryInputResponse">
    <wsdl:part name="GetCountryInputResponse" element="v1_0:GetCountryInputResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateIBANRequest">
    <wsdl:part name="ValidateIBANRequest" element="v1_0:ValidateIBANRequest" />
  </wsdl:message>
  <wsdl:message name="ValidateIBANResponse">
    <wsdl:part name="ValidateIBANResponse" element="v1_0:ValidateIBANResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateRequest">
    <wsdl:part name="ValidateRequest" element="v1_0:ValidateRequest" />
  </wsdl:message>
  <wsdl:message name="ValidateResponse">
    <wsdl:part name="ValidateResponse" element="v1_0:ValidateResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyRequest">
    <wsdl:part name="VerifyRequest" element="v1_0:VerifyRequest" />
  </wsdl:message>
  <wsdl:message name="VerifyResponse">
    <wsdl:part name="VerifyResponse" element="v1_0:VerifyResponse" />
  </wsdl:message>
  <wsdl:message name="GetBranchDataRequest">
    <wsdl:part name="GetBranchDataRequest" element="v1_0:GetBranchDataRequest" />
  </wsdl:message>
  <wsdl:message name="GetBranchDataResponse">
    <wsdl:part name="GetBranchDataResponse" element="v1_0:GetBranchDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetFasterPaymentsDataRequest">
    <wsdl:part name="GetFasterPaymentsDataRequest" element="v1_0:GetFasterPaymentsDataRequest" />
  </wsdl:message>
  <wsdl:message name="GetFasterPaymentsDataResponse">
    <wsdl:part name="GetFasterPaymentsDataResponse" element="v1_0:GetFasterPaymentsDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetSWIFTDataRequest">
    <wsdl:part name="GetSWIFTDataRequest" element="v1_0:GetSWIFTDataRequest" />
  </wsdl:message>
  <wsdl:message name="GetSWIFTDataResponse">
    <wsdl:part name="GetSWIFTDataResponse" element="v1_0:GetSWIFTDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetSEPADataRequest">
    <wsdl:part name="GetSEPADataRequest" element="v1_0:GetSEPADataRequest" />
  </wsdl:message>
  <wsdl:message name="GetSEPADataResponse">
    <wsdl:part name="GetSEPADataResponse" element="v1_0:GetSEPADataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdditionalDataRequest">
    <wsdl:part name="GetAdditionalDataRequest" element="v1_0:GetAdditionalDataRequest" />
  </wsdl:message>
  <wsdl:message name="GetAdditionalDataResponse">
    <wsdl:part name="GetAdditionalDataResponse" element="v1_0:GetAdditionalDataResponse" />
  </wsdl:message>
  <wsdl:message name="DataAccessKey">
    <wsdl:part name="DataAccessKey" element="v1_1:DataAccessKey" />
  </wsdl:message>
  <wsdl:message name="AccountInformation">
    <wsdl:part name="AccountInformation" element="v1_1:AccountInformation" />
  </wsdl:message>
  <wsdl:message name="BranchSearchRequest">
    <wsdl:part name="BranchSearchRequest" element="v1_1:BranchSearchRequest" />
  </wsdl:message>
  <wsdl:message name="BranchSearchResponse">
    <wsdl:part name="BranchSearchResponse" element="v1_1:BranchSearchResponse" />
  </wsdl:message>
  <wsdl:message name="SwiftSearchRequest">
    <wsdl:part name="SwiftSearchRequest" element="v1_1:SwiftSearchRequest" />
  </wsdl:message>
  <wsdl:message name="SwiftSearchResponse">
    <wsdl:part name="SwiftSearchResponse" element="v1_1:SwiftSearchResponse" />
  </wsdl:message>
  <wsdl:message name="GetInputWithSearchRequest">
    <wsdl:part name="GetInputWithSearchRequest" element="v1_1:GetInputWithSearchRequest" />
  </wsdl:message>
  <wsdl:message name="GetInputWithSearchResponse">
    <wsdl:part name="GetInputWithSearchResponse" element="v1_1:GetInputWithSearchResponse" />
  </wsdl:message>
  <wsdl:message name="GetLookupIbanInputRequest">
    <wsdl:part name="GetLookupIbanInputRequest" element="v1_1:GetLookupIbanInputRequest" />
  </wsdl:message>
  <wsdl:message name="GetLookupIbanInputResponse">
    <wsdl:part name="GetLookupIbanInputResponse" element="v1_1:GetLookupIbanInputResponse" />
  </wsdl:message>
  <wsdl:message name="LookupIbanRequest">
    <wsdl:part name="LookupIbanRequest" element="v1_1:LookupIbanRequest" />
  </wsdl:message>
  <wsdl:message name="LookupIbanResponse">
    <wsdl:part name="LookupIbanResponse" element="v1_1:LookupIbanResponse" />
  </wsdl:message>
  <wsdl:message name="GlobalSearchRequest">
    <wsdl:part name="GlobalSearchRequest" element="v1_1:GlobalSearchRequest" />
  </wsdl:message>
  <wsdl:message name="GlobalSearchResponse">
    <wsdl:part name="GlobalSearchResponse" element="v1_1:GlobalSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="BankWizard_v1_0_PortType">
    <wsdl:operation name="GetCountries">
      <wsdl:input name="GetCountriesRequest" message="tns:GetCountriesRequest" />
      <wsdl:output name="GetCountriesResponse" message="tns:GetCountriesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryInput">
      <wsdl:input name="GetCountryInputRequest" message="tns:GetCountryInputRequest" />
      <wsdl:output name="GetCountryInputResponse" message="tns:GetCountryInputResponse" />
    </wsdl:operation>
    <wsdl:operation name="ValidateIBAN">
      <wsdl:input name="ValidateIBANRequest" message="tns:ValidateIBANRequest" />
      <wsdl:output name="ValidateIBANResponse" message="tns:ValidateIBANResponse" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input name="ValidateRequest" message="tns:ValidateRequest" />
      <wsdl:output name="ValidateResponse" message="tns:ValidateResponse" />
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <wsdl:input name="VerifyRequest" message="tns:VerifyRequest" />
      <wsdl:output name="VerifyResponse" message="tns:VerifyResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBranchData">
      <wsdl:input message="tns:GetBranchDataRequest" />
      <wsdl:output message="tns:GetBranchDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSWIFTData">
      <wsdl:input message="tns:GetSWIFTDataRequest" />
      <wsdl:output message="tns:GetSWIFTDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSEPAData">
      <wsdl:input message="tns:GetSEPADataRequest" />
      <wsdl:output message="tns:GetSEPADataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetFasterPaymentsData">
      <wsdl:input message="tns:GetFasterPaymentsDataRequest" />
      <wsdl:output message="tns:GetFasterPaymentsDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAdditionalData">
      <wsdl:input message="tns:GetAdditionalDataRequest" />
      <wsdl:output message="tns:GetAdditionalDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BankWizard_v1_1_PortType">
    <wsdl:operation name="GetCountries">
      <wsdl:input name="GetCountriesRequest" message="tns:GetCountriesRequest" />
      <wsdl:output name="GetCountriesResponse" message="tns:GetCountriesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryInput">
      <wsdl:input name="GetCountryInputRequest" message="tns:GetCountryInputRequest" />
      <wsdl:output name="GetCountryInputResponse" message="tns:GetCountryInputResponse" />
    </wsdl:operation>
    <wsdl:operation name="ValidateIBAN">
      <wsdl:input name="ValidateIBANRequest" message="tns:ValidateIBANRequest" />
      <wsdl:output name="ValidateIBANResponse" message="tns:ValidateIBANResponse" />
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <wsdl:input name="ValidateRequest" message="tns:ValidateRequest" />
      <wsdl:output name="ValidateResponse" message="tns:ValidateResponse" />
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <wsdl:input name="VerifyRequest" message="tns:VerifyRequest" />
      <wsdl:output name="VerifyResponse" message="tns:VerifyResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetBranchData">
      <wsdl:input message="tns:GetBranchDataRequest" />
      <wsdl:output message="tns:GetBranchDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSWIFTData">
      <wsdl:input message="tns:GetSWIFTDataRequest" />
      <wsdl:output message="tns:GetSWIFTDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetSEPAData">
      <wsdl:input message="tns:GetSEPADataRequest" />
      <wsdl:output message="tns:GetSEPADataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetFasterPaymentsData">
      <wsdl:input message="tns:GetFasterPaymentsDataRequest" />
      <wsdl:output message="tns:GetFasterPaymentsDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAdditionalData">
      <wsdl:input message="tns:GetAdditionalDataRequest" />
      <wsdl:output message="tns:GetAdditionalDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInformation">
      <wsdl:input message="tns:DataAccessKey" />
      <wsdl:output message="tns:AccountInformation" />
    </wsdl:operation>
    <wsdl:operation name="BranchSearch">
      <wsdl:input message="tns:BranchSearchRequest" />
      <wsdl:output message="tns:BranchSearchResponse" />
    </wsdl:operation>
    <wsdl:operation name="SwiftSearch">
      <wsdl:input message="tns:SwiftSearchRequest" />
      <wsdl:output message="tns:SwiftSearchResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetInputWithSearch">
      <wsdl:input message="tns:GetInputWithSearchRequest" />
      <wsdl:output message="tns:GetInputWithSearchResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetLookupIbanInput">
      <wsdl:input message="tns:GetLookupIbanInputRequest" />
      <wsdl:output message="tns:GetLookupIbanInputResponse" />
    </wsdl:operation>
    <wsdl:operation name="LookupIban">
      <wsdl:input message="tns:LookupIbanRequest" />
      <wsdl:output message="tns:LookupIbanResponse" />
    </wsdl:operation>
    <wsdl:operation name="GlobalSearch">
      <wsdl:input message="tns:GlobalSearchRequest" />
      <wsdl:output message="tns:GlobalSearchResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankWizard_v1_0_SOAPBinding" type="tns:BankWizard_v1_0_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="GetCountries" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryInput">
      <soap:operation soapAction="GetCountryInput" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIBAN">
      <soap:operation soapAction="ValidateIBAN" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="Validate" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap:operation soapAction="Verify" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchData">
      <soap:operation soapAction="GetBranchData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSWIFTData">
      <soap:operation soapAction="GetSWIFTData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSEPAData">
      <soap:operation soapAction="GetSEPAData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFasterPaymentsData">
      <soap:operation soapAction="GetFasterPaymentsData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdditionalData">
      <soap:operation soapAction="GetAdditionalData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BankWizard_v1_1_SOAPBinding" type="tns:BankWizard_v1_1_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="GetCountries" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryInput">
      <soap:operation soapAction="GetCountryInput" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInputWithSearch">
      <soap:operation soapAction="GetInputWithSearch" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIBAN">
      <soap:operation soapAction="ValidateIBAN" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validate">
      <soap:operation soapAction="Validate" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Verify">
      <soap:operation soapAction="Verify" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBranchData">
      <soap:operation soapAction="GetBranchData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSWIFTData">
      <soap:operation soapAction="GetSWIFTData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSEPAData">
      <soap:operation soapAction="GetSEPAData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFasterPaymentsData">
      <soap:operation soapAction="GetFasterPaymentsData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdditionalData">
      <soap:operation soapAction="GetAdditionalData" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInformation">
      <soap:operation soapAction="GetAccountInformation" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BranchSearch">
      <soap:operation soapAction="BranchSearch" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SwiftSearch">
      <soap:operation soapAction="SwiftSearch" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupIbanInput">
      <soap:operation soapAction="GetLookupIbanInput" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LookupIban">
      <soap:operation soapAction="LookupIban" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GlobalSearch">
      <soap:operation soapAction="GlobalSearch" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankWizard_v1_0_Service">
    <wsdl:port name="BankWizard_v1_0_0_Port" binding="tns:BankWizard_v1_0_SOAPBinding">
      <soap:address location="http://localhost:8080/experianpayments/services/BankWizard" />
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="BankWizard_v1_1_Service">
    <wsdl:port name="BankWizard_v1_1_0_Port" binding="tns:BankWizard_v1_1_SOAPBinding">
      <soap:address location="http://localhost:8080/experianpayments/services/BankWizard" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>