Applications/Bec.TargetFramework/MainLine/Business/Bec.TargetFramework.Business/Web References/BWAService/BankWizardAbsoluteCommon-v1-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:bwacommon="http://experianpayments.com/bankwizardabsolute/common/xsd/2009/09" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://experianpayments.com/bankwizardabsolute/common/xsd/2009/09" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xml:lang="en">
       Bank Wizard Absolute common types.

       @Author : Amarjit Basra
       @Date   : 30 September 2009
       @Version: Major 1 Minor 0

       Copyright (c) Experian Limited 1997-2009. All Rights Reserved.
    </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="PersonalDetailsVerificationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Verification match response enumeration.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Match" />
      <xsd:enumeration value="No Match" />
      <xsd:enumeration value="Unknown" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VerifyScoreType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
         Verification match scores.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccountVerificationType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
         Verification account match enumeration.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Match" />
      <xsd:enumeration value="No Match" />
      <xsd:enumeration value="Unable to check" />
      <xsd:enumeration value="Insufficient details to check" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="BACSCodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        BACS code element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="bwacommon:BACSdescription">
        <xsd:attribute name="code" type="bwacommon:BACScode" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="BACSdescription">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        BACS code descriptions.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Account closed" />
      <xsd:enumeration value="Account holder deceased" />
      <xsd:enumeration value="Account does not exist" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BACScode">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        BACS codes.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="B" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DayType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Day type restricted from 1 to 31.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="31" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MonthType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Month type restricted from 1 to 12.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="12" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="YearType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Basic year type restricted to four digits.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[1-2]{1,1}[0-9]{3,3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CustomerAccountType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Verification customer account type enumeration.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Internal" />
      <xsd:enumeration value="Child" />
      <xsd:enumeration value="Corporate" />
      <xsd:enumeration value="Business" />
      <xsd:enumeration value="Personal" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccountType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Verification account type enumeration.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Current" />
      <xsd:enumeration value="ISA" />
      <xsd:enumeration value="Mortgage" />
      <xsd:enumeration value="Basic" />
      <xsd:enumeration value="Savings" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OwnerType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
         Verification owner type enumeration.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Joint" />
      <xsd:enumeration value="Single" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CheckContextType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Verification check context enumeration.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Direct Debit" />
      <xsd:enumeration value="Direct Credit" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CompanyType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Limited company status: (L)imited, (N)on-limited, (U)nknown
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="L" />
      <xsd:enumeration value="N" />
      <xsd:enumeration value="U" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>