Applications/Bec.TargetFramework/MainLine/Analysis/Bec.TargetFramework.Analysis.Test/Resources/Schema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ErrorEnum">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="ERR001"> <xs:annotation><xs:documentation>Lender not supplied in request</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR002"> <xs:annotation><xs:documentation>Domain not supplied in request</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR003"> <xs:annotation><xs:documentation>Mortgage application number not supplied in request</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR004"> <xs:annotation><xs:documentation>Lender supplied is not recognised</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR005"> <xs:annotation><xs:documentation>Domain supplied is not recognised</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR006"> <xs:annotation><xs:documentation>Transaction address not supplied in request</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR007"> <xs:annotation><xs:documentation>Buyer not supplied in request</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR008"> <xs:annotation><xs:documentation>Buyer name not supplied in request</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR009"> <xs:annotation><xs:documentation>Buyer address not supplied in request</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR010"> <xs:annotation><xs:documentation>Transaction section not supplied in request</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR011"> <xs:annotation><xs:documentation>Request is a null value</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR012"> <xs:annotation><xs:documentation>Mortgage application number is not recognized</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR013"> <xs:annotation><xs:documentation>XML Validation Error</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="ERR101"> <xs:annotation><xs:documentation>Generic unhandled error</xs:documentation></xs:annotation> </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ValueEnum">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No Data</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="1"><xs:annotation><xs:documentation>True/Match/Clear</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>False/No Match</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="3"><xs:annotation><xs:documentation>Partial Match</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="4"><xs:annotation><xs:documentation>Caution Refer</xs:documentation></xs:annotation> </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AuthorityEnum">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No Data</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Probate</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Power Of Attorney</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="3"><xs:annotation><xs:documentation>Court Protection Officer</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="4"><xs:annotation><xs:documentation>Registered Proprietor</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="5"><xs:annotation><xs:documentation>Developer/Builder or Part Exchange Scheme</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="6"><xs:annotation><xs:documentation>Receiver/Trustee In Bankruptcy/Liquidator</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="7"><xs:annotation><xs:documentation>Institutional Mortgagee</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="8"><xs:annotation><xs:documentation>Housing Association</xs:documentation></xs:annotation> </xs:enumeration>      
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TitleGradeEnum">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No Data</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Absolute Freehold</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Possessory Freehold</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="3"><xs:annotation><xs:documentation>Qualified Freehold</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="4"><xs:annotation><xs:documentation>Scheme Title Freehold</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="5"><xs:annotation><xs:documentation>Scheme Title Leasehold</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="6"><xs:annotation><xs:documentation>Absolute Leasehold</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="7"><xs:annotation><xs:documentation>Good Leasehold</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="8"><xs:annotation><xs:documentation>Qualified Leasehold</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="9"><xs:annotation><xs:documentation>Possessory Leasehold</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="10"><xs:annotation><xs:documentation>Absolute Rentcharge</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="11"><xs:annotation><xs:documentation>Possessory Rentcharge</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="12"><xs:annotation><xs:documentation>Qualified Rentcharge</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="13"><xs:annotation><xs:documentation>Caution Against First Registration</xs:documentation></xs:annotation> </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StatusEnum">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No Data</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Under Offer</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Exchanged</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="3"><xs:annotation><xs:documentation>Completed</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="4"><xs:annotation><xs:documentation>Registered</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="5"><xs:annotation><xs:documentation>Archived</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="6"><xs:annotation><xs:documentation>Cancelled</xs:documentation></xs:annotation></xs:enumeration>      
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SourceOfDepositEnum">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No Data</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Gifted</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Secured</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="3"><xs:annotation><xs:documentation>Loan</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="4"><xs:annotation><xs:documentation>Savings</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="5"><xs:annotation><xs:documentation>Equity From Sale</xs:documentation></xs:annotation></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BrokerEnum">
    <xs:restriction base="xs:integer">      
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No Data</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Appointed Representative</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Directly Authorised</xs:documentation></xs:annotation></xs:enumeration>      
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FCAUserStatusEnum">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No Data</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="1"><xs:annotation><xs:documentation>Active</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="2"><xs:annotation><xs:documentation>Inactive</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="3"><xs:annotation><xs:documentation>Banned</xs:documentation></xs:annotation></xs:enumeration>      
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PartyTypeEnum">
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="0"><xs:annotation><xs:documentation>No Data</xs:documentation></xs:annotation></xs:enumeration>
      <xs:enumeration value="BCCO"> <xs:annotation><xs:documentation>Buyer's Conveyancer Compliance Officer</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="BCFO"> <xs:annotation><xs:documentation>Buyer's Conveyancer Finance Officer</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="BCBA"> <xs:annotation><xs:documentation>Buyer's Conveyancer Branch Administrator</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="BCU"> <xs:annotation><xs:documentation>Buyer's Conveyancer User</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="BUY"> <xs:annotation><xs:documentation>Buyer</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="GIFT"> <xs:annotation><xs:documentation>Giftor</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="SCCO"> <xs:annotation><xs:documentation>Seller's Conveyancer Compliance Officer</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="SCFO"> <xs:annotation><xs:documentation>Seller's Conveyancer Finance Officer</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="SCBA"> <xs:annotation><xs:documentation>Seller's Conveyancer Branch Administrator</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="SCU"> <xs:annotation><xs:documentation>Seller's Conveyancer User</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="SELL"> <xs:annotation><xs:documentation>Seller</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="MBSIF"> <xs:annotation><xs:documentation>Mortgage Broker Significant Influence Function</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="MBU"> <xs:annotation><xs:documentation>Mortgage Broker User</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="TPI"> <xs:annotation><xs:documentation>Third Party Introducer</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="EACO"> <xs:annotation><xs:documentation>Estate Agent Compliance Officer</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="EAU"> <xs:annotation><xs:documentation>Estate Agent User</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="VSUR"> <xs:annotation><xs:documentation>Valuation Surveyor</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="BSUR"> <xs:annotation><xs:documentation>Building Surveyor</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="LEAD"> <xs:annotation><xs:documentation>Lender Administrator</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="LEREP"> <xs:annotation><xs:documentation>Lender User</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="SAD"> <xs:annotation><xs:documentation>Support Administrator</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="SU"> <xs:annotation><xs:documentation>Support User</xs:documentation></xs:annotation> </xs:enumeration>
      <xs:enumeration value="MLRO"> <xs:annotation><xs:documentation>Money Laundering Reporting Officer</xs:documentation></xs:annotation> </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddressDetail">
    <xs:sequence>
      <xs:element name="BuildingName" type="xs:string" />
      <xs:element name="Line1" type="xs:string" />
      <xs:element name="Line2" type="xs:string" minOccurs="0"/>
      <xs:element name="TownCity" type="xs:string" minOccurs="0"/>
      <xs:element name="PostCode" type="xs:string" />
      <xs:element name="County" type="xs:string" minOccurs="0"/>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0"/>
      <xs:element name="AdditionalInformation" type="xs:string" minOccurs="0"/>
      <xs:element name="IsAnInternationalAddress" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameDetail">
    <xs:sequence>
      <xs:element name="FirstName" type="xs:string" />
      <xs:element name="MiddleName" type="xs:string" minOccurs="0"/>
      <xs:element name="LastName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankAccountDetail">
    <xs:sequence>
      <xs:element name="AccountNumber" type="xs:string" />
      <xs:element name="SortCode" type="xs:string" />
      <xs:element name="IBANNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="SwiftBicNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="BankDetailsDaysAccountOpen" type="xs:int" minOccurs="0"/>
      <xs:element name="BankDetailsTimeOpenVerified" type="ValueEnum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyDetail">
    <xs:sequence>
      <xs:element name="Name" type="NameDetail" minOccurs="0"/> 
      <xs:element name="PreviousNames" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="NameDetail" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DateOfBirth" type="xs:date" minOccurs="0"/>
      <xs:element name="Address" type="AddressDetail" minOccurs="0" />
      <xs:element name="PreviousAddresses" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Address" type="AddressDetail" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PartyType" type="PartyTypeEnum" minOccurs="0"/>
      <xs:element name="PartyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="SMSActorCode" type="xs:string" minOccurs="0"/>
      <xs:element name="BankAccounts" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BankAccount" type="BankAccountDetail" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EmailAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="TelephoneNumbers" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TelephoneNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationDetail">
    <xs:sequence>
      <xs:element name="Name" type="xs:string" />
      <xs:element name="Address" type="AddressDetail" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorDetail">
    <xs:sequence>
      <xs:element name="Code" type="ErrorEnum"/>
      <xs:element name="Message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RawApplicationDataDetail">
    <xs:sequence>
      <xs:element name="Data" type="xs:string"/>
      <xs:element name="MimeType" type="xs:string"/>
      <xs:element name="FileName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyContainerDetail">
    <xs:sequence>
      <xs:element name="Detail" type="PartyDetail" minOccurs="1"/>
      <xs:element name="Alert" type="PartyAlertDetail" minOccurs="0"/>
      <xs:element name="Organisation" type="OrganisationDetail" minOccurs="0"/>
      <xs:element name="Flags" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Flag" type="FlagDetail" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="LastUpdated" type="xs:date" use="optional"/>
  </xs:complexType>
  <xs:complexType name="PartyAlertDetail">
    <xs:sequence>
      <xs:element name="AMLExecutionDate" type="xs:date" minOccurs="0" />
      <xs:element name="AMLResult" type="ValueEnum" minOccurs="0" />
      <xs:element name="CardPaymentAVSResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CardPaymentAVSResult" type="CardPaymentAVSDetail" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BankAccountResult" type="ValueEnum" minOccurs="0" />
      <xs:element name="FCAIndividualUserIDNumber" type="ValueEnum" minOccurs="0"/>
      <xs:element name="FCAIndividualStatus" type="FCAUserStatusEnum" minOccurs="0"/>
      <xs:element name="FCAIndividualDisciplinaryHistory" type="xs:string" minOccurs="0"/>
      <xs:element name="FCABrokerType" type="BrokerEnum" minOccurs="0"/>
      <xs:element name="FCAValidatedWithNetwork" type="ValueEnum" minOccurs="0"/>
      <xs:element name="DeathIndicator" type="ValueEnum" minOccurs="0"/>
      <xs:element name="BankruptcyIndicator" type="ValueEnum" minOccurs="0"/>
      <xs:element name="PartyDataMatchIndicator" type="ValueEnum" minOccurs="0"/>
      <xs:element name="GenuineIDDocumentsSeenByConveyancer" type="ValueEnum" minOccurs="0"/>
      <xs:element name="CertifiedCopyIDDocumentsSeenByConveyancer" type="ValueEnum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlagDetail">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchDetail">
    <xs:sequence>
      <xs:element name="Parties" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Party" type="PartyContainerDetail" maxOccurs="unbounded" minOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BusinessErrors" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="ErrorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidationErrors" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Error" type="ErrorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>        
      <xs:element name="Alert" type="SearchAlertDetail" minOccurs="0"/>
      <xs:element name="Transaction" type="TransactionDetail" minOccurs="0"/>
      <xs:element name="RawApplicationData" type="RawApplicationDataDetail" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="MortgageApplicationNumber" type="xs:string"/>
    <xs:attribute name="Domain" type="xs:string" use="optional"/>
    <xs:attribute name="Lender" type="xs:string" use="optional"/>
    <xs:attribute name="LastUpdated" type="xs:date" use="optional"/>
    <xs:attribute name="HasError" type="xs:boolean" use="optional"/>
    <xs:attribute name="IsStillActive" type="xs:boolean" use="optional"/>      
  </xs:complexType>
  <xs:complexType name="TransactionDetail">
    <xs:sequence>
      <xs:element name="Address" type="AddressDetail" />
      <xs:element name="Price" type="PriceDetail" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PriceDetail">
    <xs:sequence>
      <xs:element name="MortgageOfferPrice" type="xs:long" minOccurs="0" />
      <xs:element name="DepositPrice" type="xs:long" minOccurs="0" />
      <xs:element name="PurchasePrice" type="xs:long" minOccurs="0" />
      <xs:element name="EstimatedPrice" type="xs:long" minOccurs="0" />
      <xs:element name="ApprovedOfferPrice" type="xs:long" minOccurs="0" />
      <xs:element name="MortgageApplicationPurchasePrice" type="xs:long" minOccurs="0" />
      <xs:element name="MortgageOfferPurchasePrice" type="xs:long" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TitleIndicatorDetail">
    <xs:sequence>
      <xs:element name="TitleNumber" type="xs:string"/>
      <xs:element name="Value" type="ValueEnum" minOccurs="0"/>
      <xs:element name="GradeClass" type="TitleGradeEnum" minOccurs="0"/>
      <xs:element name="PartyAlertResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PartyAlertResult" type="PartyContainerDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIndicatorDetail">
    <xs:sequence>
      <xs:element name="Party" type="PartyDetail"/>
      <xs:element name="Value" type="ValueEnum" minOccurs="0"/>
      <xs:element name="AuthorityStatus" type="AuthorityEnum" minOccurs="0"/>
      <xs:element name="IPAddress" type="xs:string" minOccurs="0"/>
      <xs:element name="Distance" type="xs:int  " minOccurs="0"/>
    </xs:sequence>    
  </xs:complexType>
  <xs:complexType name="SourceOfDepositDetail">
    <xs:sequence>
      <xs:element name="SourceType" type="SourceOfDepositEnum"/>
      <xs:element name="Amount" type="xs:int"/>
      <xs:element name="SourceParty" type="PartyDetail"/>
      <xs:element name="BuyerDeclaresHasBeenGifted" type="ValueEnum"/>
      <xs:element name="SourceHasChargeOnProperty" type="ValueEnum"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardPaymentAVSDetail">
    <xs:sequence>
      <xs:element name="Date" type="xs:date"/>
      <xs:element name="AVSCode" type="xs:string"/>
      <xs:element name="Value" type="ValueEnum"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChargeDetail">
    <xs:sequence>
      <xs:element name="Date" type="xs:date"/>
      <xs:element name="Description" type="xs:string"/>
      <xs:element name="Type" type="xs:string"/>
      <xs:element name="TitleNumber" type="xs:string"/>
      <xs:element name="Parties" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Party" type="PartyContainerDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RestrictionDetail">
    <xs:sequence>
      <xs:element name="TypeName" type="xs:string"/>
      <xs:element name="TitleNumber" type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SearchAlertDetail">
    <xs:sequence>
      <xs:element name="PropertySIRAMatchResult" type="ValueEnum" />
      <xs:element name="PropertyHasLinkedTitles" type="ValueEnum" />
      <xs:element name="PropertySellerAuthorityStatusResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerAuthorityStatusResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyBuyerAuthorityStatusResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBuyerAuthorityStatusResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertySellerPowerOfAttorneyUploadedResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerPowerOfAttorneyUploadedResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyBuyerPowerOfAttorneyUploadedResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBuyerPowerOfAttorneyUploadedResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertySellerNotARegisteredProprietorResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerNotARegisteredProprietorResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyDateOfPreviousRegisterTransfer" type="xs:date"/>
      <xs:element name="PropertyCurrentRegisteredPrice" type="xs:int"/>
      <xs:element name="PropertyBuyerStatutoryDeclarationResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBuyerStatutoryDeclarationResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertySellerStatutoryDeclarationResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerStatutoryDeclarationResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyGradeOfTitleResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyGradeOfTitleResult" type="TitleIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyNoOS1OrderedOrNoAP1" type="ValueEnum" />
      <xs:element name="PropertyNoDaysSinceCompleted" type="xs:int" />
      <xs:element name="PropertyOS1NameOtherThanBuyerExists" type="ValueEnum" />
      <xs:element name="PropertyNoDaysSinceCompletedNoAP1" type="xs:int" />
      <xs:element name="PropertyNoDaysSinceCompletedNoRegistrationHMLR" type="xs:int" />
      <xs:element name="PropertyNoDaysSinceCompletedNoRegistrationOnCompaniesHouse" type="xs:int" />      
      <xs:element name="PropertyTitleProprietorResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyTitleProprietorResult" type="TitleIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>      
      <xs:element name="PropertyTenureNotMatchHMLR" type="ValueEnum" />
      <xs:element name="PropertyDaysLeftOnLease" type="xs:int" />
      <xs:element name="PropertyIPMatchPartyResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyIPMatchPartyResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyBuyerDistanceFromResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBuyerDistanceFromResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyHasMutipleBuyersWithSameHomeAcrossDifferentSearches" type="ValueEnum" />
      <xs:element name="PropertySellerHasCreditHistoryElsewhereResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerHasCreditHistoryElsewhereResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyPriceMatchSIRAApplication" type="ValueEnum" />
      <xs:element name="PropertyPriceMatchSIRAOffer" type="ValueEnum" />
      <xs:element name="PropertyBuyerOrSellerConveyancerHasCancelledSearch" type="ValueEnum" />
      <xs:element name="PropertySourceOfDepositResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySourceOfDepositResult" type="SourceOfDepositDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyStatus" type="StatusEnum" />
      <xs:element name="PropertyChargeResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyChargeResult" type="ChargeDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyRestrictionResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyRestrictionResult" type="RestrictionDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertySellerPostRedirectResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerPostRedirectResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyTitleUnencumberedResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyTitleUnencumberedResult" type="TitleIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyBuyerNotSeenFaceToFaceConveyancerResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBuyerNotSeenFaceToFaceConveyancerResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyBuyerNotSeenFaceToFaceBrokerResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBuyerNotSeenFaceToFaceBrokerResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertySIRAThirdPartyIntroducerMatch" type="ValueEnum" />
      <xs:element name="PropertyThirdPartyIntroducer" type="PartyDetail" />
      <xs:element name="PropertyTenureNotMatchSTS" type="ValueEnum" />
      <xs:element name="PropertySellerConveyancingBranchRegulatorHasNoMatchResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerConveyancingBranchRegulatorHasNoMatchResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertySellerConveyancingBranchComplianceOfficerNotApprovedResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerConveyancingBranchComplianceOfficerNotApprovedResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyNewBuildFirstRegistration" type="ValueEnum" />
      <xs:element name="PropertySubSale" type="ValueEnum" />
      <xs:element name="PropertyIncentivesPartyResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyIncentivesPartyResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyBuyerWillBeResidentResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBuyerWillBeResidentResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertySellerToRemainResidentAsTenantResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerToRemainResidentAsTenantResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyValuationSurveyPrice" type="xs:int" />
      <xs:element name="PropertyServiceAddressPotentiallyExists" type="ValueEnum" />
      <xs:element name="PropertyBuyerHasChangedConveyancingBranchAfterExchangeResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyBuyerHasChangedConveyancingBranchAfterExchangeResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertySellerHasChangedConveyancingBranchAfterExchangeResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerHasChangedConveyancingBranchAfterExchangeResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyOtherSTSSearchesExistWithSameBuyerAtThisAddressResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyOtherSTSSearchesExistWithSameBuyerAtThisAddressResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyOtherSTSSearchesExistWithSameSellerAtThisAddressResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyOtherSTSSearchesExistWithSameSellerAtThisAddressResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyRegisteredProprietorsWhoAreNotSellerOnSTS" type="ValueEnum" />
      <xs:element name="PropertyDeathOnExperianNotOnHMLR" type="ValueEnum" />
      <xs:element name="PropertyDeathOnHMLRNotOnExperian" type="ValueEnum" />
      <xs:element name="PropertyBankruptcyOnExperianNotOnHMLR" type="ValueEnum" />
      <xs:element name="PropertyBankruptcyOnHMLRNotOnExperian" type="ValueEnum" />
      <xs:element name="PropertyIPMatchOnBuyerAndSeller" type="ValueEnum" />
      <xs:element name="PropertyIPMatchOnBuyerConveyancerAndSellerConveyancer" type="ValueEnum" />
      <xs:element name="PropertySellerNotSeenFaceToFaceConveyancerResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertySellerNotSeenFaceToFaceConveyancerResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PropertyBuyerNotSeenFaceToFaceByCoveyancerOrBroker" type="ValueEnum" />
      <xs:element name="PropertyHasGiftedDepositWithCharge" type="ValueEnum" />
      <xs:element name="PropertyTitleUnencumberedAndNotNewBuild" type="ValueEnum" />
      <xs:element name="PropertyRegisteredProprietorNotASellerResults" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PropertyRegisteredProprietorNotASellerResult" type="PartyIndicatorDetail" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Batch">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Search" type="SearchDetail" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="Domain" type="xs:string" />
      <xs:attribute name="Lender" type="xs:string" />
      <xs:attribute name="BatchFileName" type="xs:string" />
      <xs:attribute name="BatchID" type="xs:string" />
      <xs:attribute name="CreatedOn" type="xs:date" />
      <xs:attribute name="ResponseToBatchID" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Search" type="SearchDetail"/>
</xs:schema>
