Applications/Bec.TargetFramework/MainLine/Business/Bec.TargetFramework.Business/Service References/PostcodeAnywhere/wsdlnew.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.postcodeanywhere.co.uk/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://services.postcodeanywhere.co.uk/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.postcodeanywhere.co.uk/">
      <s:element name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Organisation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Building" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_Result" type="tns:PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_ArrayOfResults" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_ArrayOfResults">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_Results" type="tns:PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_Results" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_Results">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Udprn" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Line5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostTown" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Postcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Mailsort" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryPointSuffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubBuilding" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuildingName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuildingNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DoubleDependentLocality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DependentLocality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PoBox" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryStreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrimaryStreetType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryStreetName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SecondaryStreetType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_SoapIn">
    <wsdl:part name="parameters" element="tns:PostcodeAnywhere_Interactive_RetrieveByParts_v1_00" />
  </wsdl:message>
  <wsdl:message name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_SoapOut">
    <wsdl:part name="parameters" element="tns:PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_Response" />
  </wsdl:message>
  <wsdl:portType name="PostcodeAnywhere_Soap">
    <wsdl:operation name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00">
      <wsdl:input message="tns:PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_SoapIn" />
      <wsdl:output message="tns:PostcodeAnywhere_Interactive_RetrieveByParts_v1_00_SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostcodeAnywhere_Soap" type="tns:PostcodeAnywhere_Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostcodeAnywhere_Interactive_RetrieveByParts_v1_00">
      <soap:operation soapAction="http://services.postcodeanywhere.co.uk/PostcodeAnywhere_Interactive_RetrieveByParts_v1_00" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostcodeAnywhere">
    <wsdl:port name="PostcodeAnywhere_Soap" binding="tns:PostcodeAnywhere_Soap">
      <soap:address location="http://services.postcodeanywhere.co.uk/PostcodeAnywhere/Interactive/RetrieveByParts/v1.00/soapnew.ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>